<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;" >
  <!-- [BEGIN] Content Container -->
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <strong><h2> <i class="fa fa-cog"></i>GREETINGS <span class="text-primary">SETTINGS</span></h2></strong>
          </div>
      </div>
        <hr>
      <div *ngIf="!loadingObjs && objectList.length > 0" class="container" style="min-height: 700px;">
        <div *ngFor="let o of objectList" class="col-md-6 col-sm-6 col-xs-12">
            <div class="well">
              <div class="card-body">
                <!-- <i class="fa fa-edit pull-right" (click)="openEditModal(o)" style="cursor:pointer"></i> -->
                <span class="enabled-text" [ngClass]="{'text-success': o.enabled, 'text-danger': !o.enabled}">{{transformEnabled(o.enabled)}}</span>
                <h2 class="card-title"><i class="fa fa-calendar" style="padding-left: 0;"></i>{{o.day_of_week}} </h2>
                <label class="response-dropdown">Response Type</label>
                <div style="padding-bottom: 25px;">
                    <select [(ngModel)]="o.response_type">
                        <option *ngFor="let r of responses" [value]="r.name">{{r.name}}</option>
                    </select>
                </div>
                <ui-switch [checked]="o.enabled" (change)="onEnabledChange($event, o)"></ui-switch>
              </div>
            </div>
        </div>
      </div>
      <hr />
  <app-footer></app-footer>
  <!-- [END] Footer content row -->
</div>
  <!-- [END] Content Container -->

<!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 25px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
<!-- [END] Entire Page Container -->

<!-- <bs-modal #myModal>
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Edit Greeting <span class="enabled-text" [ngClass]="{'text-success': editObj.enabled, 'text-danger': !editObj.enabled}">{{transformEnabled(editObj.enabled)}}</span></h4>
  </bs-modal-header>
  <bs-modal-body>
      <h2 class="card-title"><i class="fa fa-calendar" style="padding-left: 0;"></i>{{editObj.day_of_week}}</h2>
      <label>Response</label>
        <div>
            <select [(ngModel)]="editObj.response_type">
                <option *ngFor="let r of responses" [value]="r.name">{{r.name}}</option>
            </select>
        </div>
  </bs-modal-body>
  <bs-modal-footer>
      <button class="btn btn-default" type="button" (click)="closeEditModal()"> Cancel </button>
      <button class="btn btn-primary" type="button" (click)="updateObject()"> Save </button>
  </bs-modal-footer>
</bs-modal> -->
