  <app-navbar></app-navbar>

    <!-- [BEGIN] Entire Page Container -->
    <div class="container-fluid background" style="padding: 0 0">

      <!-- [BEGIN] Content Container -->
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <strong><h2> <i class="fa fa-question"></i>ABOUT <span class="text-primary"> ME </span></h2></strong>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-12 text-center">
              <h4>"HOW YOU DO ANYTHING, IS HOW YOU DO EVERYTHING." — T. HARV EKER </h4>
            </div>
          </div>
          <hr>

          <!-- [BEGIN] Header Section -->
          <div class="row" style="padding-top: 50px;">
            <div class="col-md-4">
              <strong><h1 style="text-align: right;"><span class="text-primary">I</span> AM </h1></strong>
              <strong><p class="text-secondary" style="text-align: right; font-size: 25px;">A DEVELOPER.</strong>
                <strong><p class="text-secondary" style="text-align: right; font-size: 25px;">A DESIGNER.</strong>
                  <strong><p class="text-secondary" style="text-align: right; font-size: 25px;">AN ARCHITECT.</strong>
              <p style="text-align: right;"> User friendliness, functionality, </p>
              <p style="text-align: right;"> high availability and reliability</p>
              <p style="text-align: right;"> are my main goals. </p>
              <a href="assets/img/Resume.jpg" class="btn btn-primary pull-right" >VIEW RESUME <i class="fa fa-file-text-o"></i></a>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
              <img class="col-xs-12" src="assets/img/aboutMeImg.png" style="max-width: 750px;"/>
            </div>
          </div>
          <hr>
          <!-- [END] Header Section -->

          <!-- [BEGIN] Description Section -->
          <div class="row" style="padding-top: 45px;">
            <div class="col-md-4" style="padding-top: 20px;"><!-- Education -->
              <h4><i class="fa fa-graduation-cap"></i> EDUCATION </h4>
              <p>I am a 2009 graduate of West Monroe High School where I played 4 years of baseball and 3 years of football. In the Fall of 2009 I began my Bachelor's in Computer Science and graduated from Louisiana Tech University in March 2015. In the Fall of 2016 I began to puruse my Master's Degree in Computer Systems Technology with a concentration in Computer Science and finished the program in July 2018.</p>
            </div>
            <div class="col-md-4" style="padding-top: 20px;"><!-- Experience -->
              <h4> <i class="fa fa-suitcase"></i> EXPERIENCE </h4>
              <p>I gained my first web design experience in Ruston, LA while attending Louisiana Tech university working for <a href="http://www.chemdyn.com/">Chemical Dynamics Inc.</a> I continued my work experience with front end and back end web development while interning with <a href="http://trakref.com">Polar Technology/TrakRef</a> in Nashville, TN in the summers of 2013 and 2014. I am currently working full time for <a href="https://gdit.com/">General Dynmaics (GDIT)</a> as a Software Developer in Bossier City, LA.</p>
            </div>
            <div class="col-md-4" style="padding-top: 20px;"><!-- Extra -->
              <h4> <i class="fa fa-star" ></i> EXTRA </h4>
              <p>I have many interest outside of software development in things like cooking, homebrewing beer, playing baseball, puzzle cubes, fitness, nutrition, and learning. In the past I have competed in many <a href="https://www.worldcubeassociation.org/results/p.php?i=2011TUBR01">World Cube Association</a> events and other speed solving events entering in the 2x2, 3x3, 4x4, and the 3x3 blind solve event. Feel free to visit my <a href="http://youtube.com/cubencube">YouTube channel</a> to see solves and past competitions. </p>
            </div>
          </div>
          <hr>
          <!-- [END] Description Section -->

          <!-- [BEGIN] row -->
          <app-footer></app-footer>
          <!-- [END] Footer content row -->
      </div>
      <!-- [END] Content Container -->


      <!-- [BEGIN] Footer Container -->
      <footer class="navbar-default" style="margin-top: 25px;">
        <div class="container-fluid" style="padding: 5px 0 5px 0;">
          <div class="text-center">
            <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
          </div>
        </div>
      </footer>
      <!-- [END] Footer Container -->
    </div>
