<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;" >
  <!-- [BEGIN] Loader -->
  <div class="container">
    <div class="text-center">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:50px"></i>
    </div>
    <div class="container" style="padding-top: 500px;"></div>
    <app-footer></app-footer>
  <!-- [END] Footer content row -->
  </div>

  <!-- [END] Loader -->
  <!-- [BEGIN] Footer Container -->
  <footer class="navbar-default" style="margin-top: 25px;">
    <div class="container-fluid" style="padding: 5px 0 5px 0;">
      <div class="text-center">
        <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
      </div>
    </div>
  </footer>
  <!-- [END] Footer Container -->
</div>
<!-- [END] Entire Page Container -->
