  <app-navbar></app-navbar>

  <!-- [BEGIN] Entire Page Container -->
  <div class="container-fluid background" style="padding: 0;">
    <!-- [BEGIN] Content Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <strong><h2> <i class="fa fa-cubes"></i>PORTFOLIO <span class="text-primary"></span></h2></strong>
        </div>
      </div>
      <hr>
      <!-- [BEGIN] Web Applications Section -->
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well">
                <div class="card-body">
                    <a class="thumbnail fancybox" rel="ligthbox" href="https://acloud.guru/learn/intro-ansible">
                      <img class="img-responsive" alt="" src="assets/img/brock1.png" />
                    </a>
                  <h5 class="card-title"><i class="fa fa-code" style="padding-left: 0;"></i> Introduction To Ansible </h5>
                  <p class="card-text"> Instructional video created for <a href="https://acloud.guru">A Cloud Guru</a> where you'll learn how to get started with Ansible, one of the most popular configuration management tools out there. If you’re passionate about DevOps, Ansible is a great tool to get started with. </p>
                  <a href="https://acloud.guru/learn/intro-ansible" class="btn btn-warning">VIEW COURSE HERE <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well">
                <div class="card-body">
                    <a class="thumbnail fancybox" rel="ligthbox" href="http://bit.ly/2MSUrR2">
                      <img class="img-responsive" alt="" src="https://res.cloudinary.com/acloud-guru/image/fetch/w_500,q_auto,f_auto/https%3A%2F%2Facloudguru-content-assets-production.s3-accelerate.amazonaws.com%2F1544755732949-acg-projects-109.jpg" />
                    </a>
                  <h5 class="card-title"><i class="fa fa-play" style="padding-left: 0;"></i> Your Very Own API </h5>
                  <p class="card-text">Instructional video created for <a href="https://acloud.guru">A Cloud Guru</a> using AWS services DynamoDB to store data, CloudWatch rules to trigger a Lambda function that fetches data from an external source, and API Gateway endpoints to retrieve, display, and analyze a datastore. </p>
                  <a href="http://bit.ly/2MSUrR2" class="btn btn-primary">VIEW FULL VIDEO <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well">
                <div class="card-body">
                    <a class="thumbnail fancybox" rel="ligthbox" href="https://www.facebook.com/acloudguru/videos/1846440448749053/">
                      <img class="img-responsive" alt="" src="https://res.cloudinary.com/acloud-guru/image/fetch/w_500,q_auto,f_auto/https%3A%2F%2Facloudguru-content-assets-production.s3-accelerate.amazonaws.com%2F1544755755840-acg-projects-108.jpg" />
                    </a>
                  <h5 class="card-title"><i class="fa fa-video-camera" style="padding-left: 0;"></i> Let the Free Times Roll </h5>
                  <p class="card-text">Instructional video created for <a href="https://acloud.guru">A Cloud Guru</a> using AWS CodePipeline, CodeBuild, and S3 to build a system that triggers seamless and automatic deployments when you commit your code to a GitHub repository. </p>
                  <a href="http://bit.ly/2uNJwkL" class="btn btn-primary">VIEW FULL VIDEO <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well">
                <div class="card-body">
                  <a class="thumbnail fancybox" rel="ligthbox" href="https://orbit-ui.brocktubre.com">
                    <img class="img-responsive" alt="" src="assets/img/orbit-ui.jpg" />
                  </a>
                  <h5 class="card-title"><i class="fa fa-globe" style="padding-left: 0;"></i> Orbit</h5>
                  <p class="card-text">This is an user interface for viewing tickets in the <a href="https://play.google.com/store/apps/details?id=net.orbit.orbit" >Orbit android application</a>. Orbit is a mobile application for any school that facilitates communication between parents and teachers. </p>
                  <a href="https://orbit-ui.brocktubre.com" class="btn btn-primary">VIEW SITE <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
      </div>
      <div class="row" style="padding-bottom: 200px;">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well">
              <div class="card-body">
                <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/s3-sandbox-integration.jpg">
                  <img class="img-responsive" alt="" src="assets/img/s3-sandbox-integration.png" />
                  <div class='text-right'>
                      <small class='text-muted'>S3 Store Architecture Diagram</small>
                  </div> <!-- text-right / end -->
                </a>
                <h5 class="card-title"><i class="fa fa-hdd-o" style="padding-left: 0;"></i> S3 Store</h5>
                <p class="card-text">This is a simple interface to use for uploading objects. It uses AWS services like S3, DynamoDB, & Lambda to read, write, download, & delete objects.</p>
                <a href="/s3-sandbox" class="btn btn-warning">TRY IT NOW <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
        </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well">
              <div class="card-body">
                <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/qr-code-generator.jpg">
                  <img class="img-responsive" alt="" src="assets/img/qr-code-generator.png" />
                  <div class='text-right'>
                      <small class='text-muted'>QR Attendance Architecture</small>
                  </div> <!-- text-right / end -->
                </a>
                <h5 class="card-title"><i class="fa fa-qrcode" style="padding-left: 0;"></i> QR Attendance</h5>
                <p class="card-text">This is an attendance tracker for students in LSUS CSC 460/660 Fall 2018 course. It uses AWS services like S3, DynamoDB, Lambda, API Gateway, & SNS to create and validate QR codes associated with students attendance for class.</p>
                <a href="/qr-reader" class="btn btn-primary">SCAN QR CODE<i class="fa fa-chevron-right"></i></a>
                <a href="/qr-reader/attendance" class="btn btn-default">SEE ATTENDANCE <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      <!-- [END] Web Applications Section -->
      <!-- [BEGIN] row -->
      <app-footer></app-footer>
      <!-- [END] Footer content row -->
    </div>
    <!-- [END] Content Container -->

    <!-- [BEGIN] Footer Container -->
    <footer class="navbar-default" style="margin-top: 25px;">
      <div class="container-fluid" style="padding: 5px 0 5px 0;">
        <div class="text-center">
          <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
        </div>
      </div>
    </footer>
    <!-- [END] Footer Container -->
</div>
