    <app-navbar></app-navbar>

    <!-- [BEGIN] Entire Page Container -->
    <div class="container-fluid background" style="padding: 0;" >

      <!-- [BEGIN] Content Container -->
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="padding-top: 100px;">
              <strong><h2> PORTFOLIO <span style="color: #3399f3;"> // Applications </span></h2></strong>
            </div>
          </div>
          <hr>
          <!-- [BEGIN] Web Applications Section -->
          <div class="row">
           <div  class="col-md-6 col-sm-6 col-xs-12">
              <a href="http://hfservicesshreveport.com">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/hfservices.jpg" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-car"></i>HF Services</h6>
                      
                  </div>
                </div>
              </a>
            </div>
            <div  class="col-md-6 col-sm-6 col-xs-12">
                <a href="https://orbit-ui.brocktubre.com">
                  <div class="thumbnail">
                    <img class="img-responsive" src="assets/img/orbit-ui.jpg" alt="">
                      <div class="caption text-center">
                        <h6><i class="fa fa-graduation-cap"></i>Orbit</h6>
                        
                    </div>
                  </div>
                </a>
              </div>
            <!--<div  class="col-md-4 col-sm-4 col-xs-12">
              <a href="http://sundowntavern.biz">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/sundown.jpg" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-glass"></i>Sundown Tavern</h6>
                      
                  </div>
                </div>
              </a>
            </div>-->
            <!--<div  class="col-md-6 col-sm-6 col-xs-12">
              <a href="http://watson.latech.edu">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/watsonApp.png" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-book"></i>Heavy Feather Brewing</h6>
                  </div>
                </div>
              </a>
            </div>-->
            <!-- <div  class="col-md-6 col-sm-6 col-xs-12">
              <a href="http://brocktubre-001-site1.smarterasp.net">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/sdcApp.png" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-database"></i>Squirrel Dog Central</h6>
                  </div>
                </div>
              </a>
            </div> -->
            <!-- <div  class="col-md-6 col-sm-6 col-xs-12">
              <a href="http://shoshoniapparel.com">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/shoshoniPage.png" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-photo"></i>Shoshoni Apperal</h6>
                  </div>
                </div>
              </div>
          </a>
          </div>-->
            <!--<div  class="col-md-4 col-sm-4 col-xs-12">
              <a href="http://heavyfeatherbrewing.brocktubre.com">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/heavyfeatherApp.png" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-beer"></i>Heavy Feather Brewing</h6>
                  </div>
                </div>
              </a>
            </div>-->
            <!-- <div  class="col-md-6 col-sm-6 col-xs-12">
              <a href="http://brocktubre.com/bayou">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/bayou.png" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-paw"></i>Bayou Hickory Squirrel Dogs</h6>
                  </div>
                </div>
              </a>  
            </div> -->
            <!-- <div  class="col-md-6 col-sm-6 col-xs-12">
              <a href="http://info.fieldsight.com">
                <div class="thumbnail">
                  <img class="img-responsive" src="assets/img/fieldsight.png" alt="">
                    <div class="caption text-center">
                      <h6><i class="fa fa-building"></i>Field Sight</h6>
                    </div>
                </div>
              </a>
            </div> -->
        </div>
          <!-- [END] Web Applications Section -->

          <!-- [BEGIN] Artwork Section -->
          <div class="row">
            <div class="col-md-12">
              <strong><h2> PORTFOLIO <span style="color: #3399f3;"> // Artwork </span></h2></strong>
            </div>
          </div>
          <hr>
          <!-- [BEGIN] Digital Art Work row 1-->
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page9.png">
                <img class="img-responsive" alt="" src="assets/img/Portfolio-page9.png" />
                <div class='text-right'>
                    <small class='text-muted'> Competition Poster</small>
                </div> <!-- text-right / end -->
              </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page2.png">
                  <img class="img-responsive" alt="" src="assets/img/Portfolio-page2.png" />
                  <div class='text-right'>
                      <small class='text-muted'>Marketing Images</small>
                  </div> <!-- text-right / end -->
              </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page1.png">
                    <img class="img-responsive" alt="" src="assets/img/Portfolio-page1.png" />
                    <div class='text-right'>
                        <small class='text-muted'>White label Website</small>
                    </div> <!-- text-right / end -->
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page3.png">
                <img class="img-responsive" alt="" src="assets/img/Portfolio-page3.png" />
                <div class='text-right'>
                    <small class='text-muted'>Help Guide</small>
                </div> <!-- text-right / end -->
              </a>
            </div>
          </div>
          <!-- [END] Digital Art Work row 1-->

          <!-- [BEGIN] Digital Art Work row 2-->
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page4.png">
                <img class="img-responsive" alt="" src="assets/img/Portfolio-page4.png" />
                <div class='text-right'>
                    <small class='text-muted'>Marketing Banners</small>
                </div> <!-- text-right / end -->
              </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page5.png">
                <img class="img-responsive" alt="" src="assets/img/Portfolio-page5.png" />
                <div class='text-right'>
                    <small class='text-muted'>Marketing Images</small>
                </div> <!-- text-right / end -->
              </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page6.png">
                <img class="img-responsive" alt="" src="assets/img/Portfolio-page6.png" />
                <div class='text-right'>
                    <small class='text-muted'>Help Guide</small>
                </div> <!-- text-right / end -->
              </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/Portfolio-page7.png">
                <img class="img-responsive" alt="" src="assets/img/Portfolio-page7.png" />
                <div class='text-right'>
                    <small class='text-muted'>Marketing Mailers</small>
                </div> <!-- text-right / end -->
              </a>
            </div>
          </div>
          <!-- [END] Digital Art Work row 2-->

          <!-- [BEGIN] Digital Art Work row 3-->
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
            </div>
          </div>
          <!-- [END] Digital Art Work row 3--> 
          <!-- [END] Artwork Section -->   
          <hr>
          <!-- [BEGIN] row -->
          <app-footer></app-footer>
          <!-- [END] Footer content row -->
        </div>
      <!-- [END] Content Container -->

      <!-- [BEGIN] Footer Container -->
      <footer class="navbar-inverse" style="margin-top: 25px;">
        <div class="container-fluid" style="padding: 5px 0 5px 0;">
          <div class="text-center">
            <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p> 
          </div>
        </div>
      </footer>
      <!-- [END] Footer Container -->
    </div>
