<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;" >
  <!-- [BEGIN] Content Container -->
  <div class="container">
      <div class="container" style="min-height: 700px;">
      </div>
  <app-footer></app-footer>
  <!-- [END] Footer content row -->
</div>
<!-- [END] Content Container -->

<!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 25px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->

</div>
<!-- [END] Entire Page Container -->
