<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;" >
  <!-- [BEGIN] Content Container -->
  <div class="container">
      <div *ngIf="!loadingObjs && objectList.length > 0" class="container" style="min-height: 700px;">
          <table class="table table-striped table-condensed">
              <thead>
              <tr>
                  <th>Name</th>
                  <th>ETag</th>
                  <th>Size</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let o of objectList">
                  <td>
                      {{cleanObjectName(o.object_display_name)}}
                  </td>
                  <td>
                      {{o.etag}}
                  </td>
                  <td>
                      {{o.size}}
                  </td>
                  <td>
                    <i class="fa fa-edit" (click)="openEditModal(o)" style="cursor:pointer"></i>
                  </td>
                  <td>
                    <i class="fa fa-download" (click)="downloadObject(o)" style="cursor:pointer"></i>
                  </td>
                  <td>
                    <i class="fa fa-remove" (click)="deleteObject(o)" style="cursor:pointer; color: red"></i>
                  </td>
              </tr>
          </tbody>
          </table>
      </div>
      <div *ngIf="!loadingObjs && objectList.length <= 0"  class="container text-center" style="min-height: 700px;">
          <span class="alert alert-danger col-md-12">You have no objects.</span>
      </div>
      <div *ngIf="loadingObjs"  class="container text-center" style="min-height: 700px;">
          <i class="fa fa-circle-o-notch fa-spin" style="font-size:50px"></i>
      </div>
      <div class="col-md-12 col-sm-12 col-12">
          <div class="input-group">
              <label class="input-group-btn">
                  <span class="btn btn-primary">
                      Browse&hellip; <input type="file" style="display: none;" multiple #fileInput (change)="fileChanged($event)">
                  </span>
              </label>
              <input type="text" class="form-control" #fileInputVal readonly>
              <label class="input-group-btn">
                  <span class="btn btn-success">
                      Upload <input type="button" style="display: none;" multiple (click)="uploadObject()">
                  </span>
              </label>
          </div>
      </div>
  <app-footer></app-footer>
  <!-- [END] Footer content row -->
  </div>
  <!-- [END] Content Container -->

<!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 25px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
<!-- [END] Entire Page Container -->

<bs-modal #myModal>
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Edit Upload</h4>
  </bs-modal-header>
  <bs-modal-body>
      <label>Name</label>
      <input class="form-control" type="text" value="{{inputFieldVal ? inputFieldVal : null}}" (change)="updateInputVal($event)">
      <span *ngIf="inputFieldValidationMessage" class="text-danger">{{inputFieldValidationMessage}}</span>
  </bs-modal-body>
  <bs-modal-footer>
      <button class="btn btn-default" type="button" (click)="closeEditModal()"> Cancel </button>
      <button class="btn btn-primary" type="button" (click)="updateObject()"> Save </button>
  </bs-modal-footer>
</bs-modal>
