<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;" >

  <!-- [BEGIN] Content Container -->
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <strong><h2><i class="fa fa-cubes"></i> DASHBOARD </h2></strong>
          </div>
        </div>
        <hr>
      <!-- [BEGIN] Description Section -->
      <div class="row" style="padding-top: 45px; padding-bottom: 300px;">
          <div class="col-md-4">
              <div class="well">
                <div class="card-body">
                  <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/s3-sandbox-integration.jpg">
                    <img class="img-responsive" alt="" src="assets/img/s3-sandbox-integration.png" />
                    <div class='text-right'>
                        <small class='text-muted'>Architecture Diagram</small>
                    </div> <!-- text-right / end -->
                  </a>
                  <h5 class="card-title"><i class="fa fa-hdd-o" style="padding-left: 0;"></i> S3 Store</h5>
                  <p class="card-text">This is a simple interface to upload documents to S3 with. It uses services like DynamoDB & Lambda to read, write, and delete data.</p>
                  <a href="/s3-sandbox" class="btn btn-primary">Try it now <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
      </div>
      <!-- [END] Description Section -->
      <hr>
      <!-- [BEGIN] row -->
      <app-footer></app-footer>
      <!-- [END] Footer content row -->
  </div>
  <!-- [END] Content Container -->

  <!-- [BEGIN] Footer Container -->
  <footer class="navbar-default" style="margin-top: 25px;">
    <div class="container-fluid" style="padding: 5px 0 5px 0;">
      <div class="text-center">
        <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
      </div>
    </div>
  </footer>
  <!-- [END] Footer Container -->

</div>
<!-- [END] Entire Page Container -->
