
<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;" >
  <!-- [BEGIN] Content Container -->
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <strong><h2> <i class="fa fa-qrcode"></i>QR <span class="text-primary"> SCANNER</span></h2></strong>
        </div>
    </div>
    <hr>
    <div *ngIf="availableDevices" [ngClass]="{ 'padding-bottom-lg': !selectedDevice}">
      <select (change)="onDeviceSelectChange($event.target.value)">
        <option value="" [selected]="!selectedDevice">No Device</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
      </select>
      <h1 *ngIf="!selectedDevice" class="text-primary text-center">Please select a scanning device.</h1>
    </div>

    <div [hidden]="!hasCameras || !selectedDevice">
      <h1 *ngIf="!hasResults" class="text-primary text-center">Scan QR code.</h1>
      <div *ngIf="hasResults && qrCodeResult.enabled" class="text-center text-success">
            <h1>Thank you <strong>{{qrCodeResult.students_first_name}}</strong>!</h1>
            <h3>You have been successfully been marked present for <strong>{{qrCodeResult.class_date}}</strong> class.</h3>
      </div>
      <div *ngIf="hasResults && !qrCodeResult.enabled" class="text-center text-danger">
          <h1>Sorry, this QR code is no longer valid.</h1>
      </div>
      <zxing-scanner #scanner class="qr-scanner text-center" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
      <video #video id="video"></video>
      <canvas #canvas id="canvas" width="640" height="480"></canvas>
      <!-- <h2 *ngIf="!this.selectedDevice">No camera selected.</h2> -->
      <div class="row">
        <div class="center-block well"
              [ngClass]="{'scan-color': !hasResults,
                          'scan-done': hasResults && qrCodeResult.enabled,
                          'scan-error': hasResults && !qrCodeResult.enabled }"></div>
      </div>
      <div class="row" style="padding-top: 50px;">
          <div class="form-group col-md-4 col-md-offset-4">
            <h3>No QR Code?</h3>
            <input class="form-control" type="text" value="" placeholder="Student ID" #studentID/>
            <button class="btn btn-primary form-control" style="margin-top: 15px;" (click)="submitStudentId()"> Submit </button>
            <h5 class="text-danger" *ngIf="inputSubmitMessage"><strong>{{inputSubmitMessage}}</strong></h5>
          </div>
        </div>
    </div>

    <div *ngIf="!hasCameras && hasPermission === true">
      <h1>Looks like your actual device does not has cameras, or I could not find them. </h1>
    </div>

    <div *ngIf="hasPermission === undefined" style="padding-top: 200px;">
      <h1>Waiting for permissions.</h1>
      <blockquote>
        <h2>If your device does not has cameras, no permissions will be asked.</h2>
      </blockquote>
    </div>
    <div *ngIf="hasPermission === false">
      <h1>You denied the camera permissions, we can't scan anything without it.</h1>
    </div>
  <app-footer></app-footer>
  <!-- [END] Footer content row -->
  </div>
  <!-- [END] Content Container -->

<!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 25px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
<!-- [END] Entire Page Container -->
