
<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;" >
  <!-- [BEGIN] Content Container -->
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <strong><h2> <i class="fa fa-qrcode"></i>QR <span class="text-primary"> SCANNER</span></h2></strong>
        </div>
    </div>
    <hr>
    <div *ngIf="!scannerFound">
      <button class="btn btn-default" (click)="getUSBDevices()"> Get QR Scanner </button>
      <div class="col-md-12" style="padding-bottom: 400px;"></div>
    </div>
    <div *ngIf="scannerFound">
      <h1 *ngIf="!hasResults" class="text-primary text-center">Scan QR code.</h1>
      <div *ngIf="hasResults && qrCodeResult.enabled" class="text-center text-success">
            <h1>Thank you <strong>{{qrCodeResult.students_first_name}}</strong>!</h1>
            <h3>You have been successfully been marked present for <strong>{{qrCodeResult.class_date}}</strong> class.</h3>
      </div>
      <div *ngIf="hasResults && !qrCodeResult.enabled" class="text-center text-danger">
          <h1>Sorry, this QR code is no longer valid.</h1>
      </div>
      <div class="row">
        <div class="center-block well"
              [ngClass]="{'scan-color': !hasResults,
                          'scan-done': hasResults && qrCodeResult.enabled,
                          'scan-error': hasResults && !qrCodeResult.enabled }"></div>
      </div>
      <div class="row" style="padding-top: 50px;">
          <div class="form-group col-md-4 col-md-offset-4">
            <h3>No QR Code?</h3>
            <input autofocus class="form-control" type="text" value="" placeholder="Student ID" #studentID (change)="checkStudentId($event)"/>
            <button class="btn btn-primary form-control" style="margin-top: 15px;" (click)="submitStudentId()"> Submit </button>
            <h5 class="text-danger" *ngIf="inputSubmitMessage"><strong>{{inputSubmitMessage}}</strong></h5>
          </div>
        </div>
    </div>
  <app-footer></app-footer>
  <!-- [END] Footer content row -->
  </div>
  <!-- [END] Content Container -->

<!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 25px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
<!-- [END] Entire Page Container -->
