/* You can add global styles to this file, and also import other style files */
.fa {
	padding: 0 10px 0 10px;
}

footer > .container-fluid{
	min-height: 40px;
	min-width: 100%;
}

footer {
	margin: 0 0;
}

.background{
	min-width: 100%;
}

hr{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body p{
	font-size: 14px;
}

a{
	color: #3399f3;
}

.nav a{
	color: white;
	font-size: 12px;
}
.nav a:hover{
	color: #080808;
}

.btn {
	font-size: 12px;
}

.text-secondary {
	color: #2d2d2d;
 }

.login-form {
  padding-bottom: 500px;
  padding-top: 50px;
}

.qr-scanner > video {
  width: 0 !important;
  visibility: hidden;
}

.scan-color {
  height: 200px;
  width: 200px;
  background-color: #222;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #4285f4;
  }
  100% {
    background-color: #222;
  }
}

.scan-done {
  height: 200px;
  width: 200px;
  background-color: #3fb618;
}

.scan-error {
  height: 200px;
  width: 200px;
  background-color: #ff0039;
}

.padding-bottom-lg {
  padding-bottom: 500px;
}

#video, #canvas {
  visibility: hidden;
  height: 0px;
}

.fa-bt-link {
  cursor: pointer;
}

.selectedRow {
  background-color: #c3dbf7 !important;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
