    <!-- [BEGIN] Navbar -->
    <div class='navbar navbar-default navbar-fixed-top' style='margin-bottom: 0'>
      <div class='container'>
        <div class='navbar-header'>
          <a class='brand pull-left' style='padding: 10px 5px 0 5px;' href='index.html'> <img src='assets/img/singLogoWhite.png' style='max-height: 40px; '></a>
          <a href='http://brocktubre.com/' class='navbar-brand'>Brock Tubre</a>
          <button class='navbar-toggle' type='button' data-toggle='collapse' data-target='#navbar-main'>
            <span class='icon-bar'></span>
            <span class=  'icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>
        <div class='navbar-collapse collapse'  id='navbar-main'>
          <ul class='nav navbar-nav navbar-right'>
            <li class='active'><a href='index.html'><i class="fa fa-home"></i>HOME</a></li>
            <li><a href='portfolio.html'><i class="fa fa-paperclip"></i>PORTFOLIO</a></li>
            <li><a href='about_me.html'><i class="fa fa-question"></i>ABOUT ME</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- [END] Navbar -->

    <!-- [BEGIN] Entire Page Container -->
    <div class="container-fluid background" style="padding: 0;" >

      <!-- [BEGIN] Content Container -->
      <div class="container">
          <!-- [BEGIN] Header Section -->
          <div class="row">
            <div class="col-md-4" style="padding-top: 100px; ">
              <strong><h2 style="text-align: right; color: #969696;"> Mac </h2></strong>
              <strong><h2 style="text-align: right; color: #3399f3;"> Windows </h2></strong>
              <strong><h2 style="text-align: right; color: #2E2E2E;"> Linux </h2></strong>
              <p style="text-align: right;"> I am a developer and designer.</p>
              <p style="text-align: right;"> Building software and applications </p>
              <p style="text-align: right;"> is my professional passion. </p>
              <a href="portfolio.html" class="btn btn-info pull-right" >VIEW PROJECTS <i class="fa fa-folder-open"></i></a>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-6" style="padding-top: 120px;">
              <img class="col-xs-12 img-responsive" src="assets/img/desktopImg.png" style='width:100%;'>
            </div>
          </div>
          <!-- [END] Header Section -->
          <hr>
          <!-- [BEGIN] Description Section -->
          <div class="row" style="padding-top: 45px;">
            <div class="col-md-4" style="padding-top: 20px;"><!-- Welcome-->
              <h4><i class="fa fa-globe"></i> HELLO WORLD </h4>
              <p>My name is Brock Tubre and welcome to brocktubre.com. I have a passion for creating useful web applications within beautiful web pages. I have worked on many school, work, and personal projects and I enjoy every minute of it. Please navigate through my site to see some of the projects I have collaborated and contributed to. Thanks.</p>
            </div>
            <div class="col-md-4" style="padding-top: 20px;"><!-- My Work -->
              <h4> <i class="fa fa-desktop"></i>MY WORK </h4>
              <p>In my experience of design and development I have worked in everything from HTML5 and Bootstrap to PHP and ASP.NET. I've picked up several programming languages along the way like C/C++, C#, PHP, Python, Java, Grails, Spring, Angular, jQuery, and Javascript. I have also passed the<a href="lib/img/aws_dev_cert.pdf"> AWS Developer Associate certification </a> as of August 2017.</p>
            </div>
            <div class="col-md-4" style="padding-top: 20px;"><!-- Design Philosophy -->
              <h4> <i class="fa fa-puzzle-piece"></i>DESIGN PHILOSOPHY </h4>
              <p>I believe that a tool that is not completely user friendly and easy to use is worthless. No matter how functional an application is, if the end user cannot use it stress free the product is not complete. I put the user first and develop around their needs. </p>
            </div>
          </div>
          <!-- [END] Description Section -->
          <hr>
          <!-- [BEGIN] row -->
          <app-footer></app-footer>
          <!-- [END] Footer content row -->
      </div>
      <!-- [END] Content Container -->

      <!-- [BEGIN] Footer Container -->
      <footer class="navbar-default" style="margin-top: 25px;">
        <div class="container-fluid" style="padding: 5px 0 5px 0;">
          <div class="col-md-3 col-md-offset-1">
            <p style="color: #FFFFFF;"> © 2018 Created by Brock Tubre.</p> 
          </div>
        </div>
      </footer>
      <!-- [END] Footer Container -->

    </div>
    <!-- [END] Entire Page Container -->