    <app-navbar></app-navbar>

    <!-- [BEGIN] Entire Page Container -->
    <div class="container-fluid background" style="padding: 0;" >

      <!-- [BEGIN] Content Container -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <strong><h2><i class="fa fa-home"></i> HOME </h2></strong>
              </div>
            </div>
            <hr>
          <!-- [BEGIN] Header Section -->
          <div class="row"  style="padding-top: 50px;">
            <div class="col-md-4" style="padding-top: 50px;">
              <!-- <strong><h2 style="text-align: right;"> Brock </h2></strong> -->
              <strong><h2 class="text-primary" style="text-align: right; font-weight: 500;">Brock Tubre <span class="text-default" style="font-size: 16px;">BS, MS</span></h2></strong>
              <strong><h2 class="text-default" style="text-align: right;"> Software Developer </h2></strong>
              <p style="text-align: right;"> I am a developer, designer, and architect.</p>
              <p style="text-align: right;"> Building software and applications </p>
              <p style="text-align: right;"> is my professional passion. </p>
              <a href="/portfolio" class="btn btn-primary pull-right" >VIEW PROJECTS <i class="fa fa-folder-open"></i></a>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
              <!-- <img class="col-xs-12 img-responsive" src="assets/img/desktopImg.png" style='width:100%;'> -->
               <img class="col-xs-12 img-responsive" src="assets/img/circle_self.png" >
            </div>
          </div>
          <!-- [END] Header Section -->
          <hr>
          <!-- [BEGIN] Description Section -->
          <div class="row" style="padding-top: 45px;">
            <div class="col-md-4" style="padding-top: 20px;"><!-- Welcome-->
              <h4><i class="fa fa-globe"></i> HELLO WORLD </h4>
              <p>My name is Brock Tubre and welcome to brocktubre.com. I have a passion for creating useful, reliable, and highly available software solutions. I have worked on many school, work, and personal projects and I enjoy every minute of it. Please navigate through my site to see some of the projects I have collaborated and contributed to. Thank you.</p>
            </div>
            <div class="col-md-4" style="padding-top: 20px;"><!-- My Work -->
              <h4> <i class="fa fa-desktop"></i>MY WORK </h4>
              <p>In my experience of design and development I
                have worked with many different programming languages,
                frameworks, and services. I have learned several development
                tools along the way. These include tools such as Java, Springboot,
                JOOQ, Maven, AngularJS, Typescript, C, C++, C#, ASP.NET, Grails/Groovy,
                Hibernate, HTML, CSS, Javascript/jQuery, MySQL, SQL, PHP,
                Jenkins, AWS, Okta, Node/NPM, Wordpress. I also have experience in Macintosh,
                Linux, Windows, Git, SVN, JIRA and programs like Photoshop,
                Illustrator, Microsoft Office.
                I also have several <a href="https://aws.amazon.com/certification/"> AWS</a> certifications which include the
                <a href="assets/img/aws_sa_cert.pdf"> AWS Solutions Architect Associate</a>,
                <a href="assets/img/aws_dev_cert.pdf"> AWS Developer Associate</a>,
                <a href="assets/img/aws_cp_cert.pdf"> AWS Cloud Practitioner</a>.
              </p>
            </div>
            <div class="col-md-4" style="padding-top: 20px;"><!-- Design Philosophy -->
              <h4> <i class="fa fa-puzzle-piece"></i>DESIGN PHILOSOPHY </h4>
              <p>I believe that a tool that is not completely user friendly, easy to use, highly available and reliable is worthless. No matter how functional an application is, if the end user cannot use it stress free, whenever and wherever they choose the product is not complete. I put the user first and develop around their needs. </p>
            </div>
          </div>
          <!-- [END] Description Section -->
          <hr>
          <!-- [BEGIN] row -->
          <app-footer></app-footer>
          <!-- [END] Footer content row -->
      </div>
      <!-- [END] Content Container -->

      <!-- [BEGIN] Footer Container -->
      <footer class="navbar-default" style="margin-top: 25px;">
        <div class="container-fluid" style="padding: 5px 0 5px 0;">
          <div class="text-center">
            <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
          </div>
        </div>
      </footer>
      <!-- [END] Footer Container -->

    </div>
    <!-- [END] Entire Page Container -->
