<!-- [BEGIN] Links Container -->
<div class='row'>
  <div class='col-md-3' style='padding-top: 45px;'> <!-- Favorites -->
    <h5> CERTIFICATIONS </h5>
    <hr>
    <img class="img-repsonsive" src="assets/img/aws_signature.png" style='width:100%;'/>
  </div>
  <div class='col-md-3' style='padding-top: 45px;'><!-- What's New -->
    <h5> WHAT'S NEW </h5>
    <hr>
    <p style='font-size: 12px;'>I am currently living in Bossier City, LA. In March
      2015 I completed my Bachelor's Degree in Computer Science from <a href='http://latech.edu'>Louisiana Tech University</a>.
      I have also completed the <a href='http://www.lsus.edu/academics/graduate-studies/graduate-programs/master-of-science-in-computer-systems-technology'>Master's of Science in
        Computer Science</a> at <a href='http://www.lsus.edu/'>LSUS</a> in July 2018. I am currently working full time
        for <a href='https://acloud.guru'>A Cloud Guru</a> as a remote Instructor researching, developing and teaching cutting edge software applications and tools as content. </p>
  </div>
  <div class='col-md-3' style='padding-top: 45px;'><!-- In The News -->
    <h5> RANDOM FACTS </h5>
    <hr>
    <p style='font-size: 12px;'>{{randomFactText}}</p>
  </div>
  <div class='col-md-3' style='padding-top: 45px;'><!-- Contact me -->
    <h5> CONTACT ME </h5>
    <hr>
    <p style='font-size: 12px;'>Cell: 318-235-4551<br>
        Email: <a href='mailto:brocktubre@gmail.com?'>brocktubre@gmail.com</a></p>
    <hr>
    <div class=''>
      <a href='http://linkedin.com/pub/brock-tubre/61/543/599/'><img src='assets/img/linkedin_black.png' style='max-width: 50px;'></a>
      <a href='http://youtube.com/cubencube'><img src='assets/img/youtube_black.png' style='max-width: 50px;'></a>
      <a href='http://github.com/brocktubre'><img src='assets/img/github_black.png' style='max-width: 50px;'></a>
      <a href='mailto:brocktubre@gmail.com?'><img src='assets/img/mail_black.png' style='max-height: 45px;'></a>
    </div>
  </div>
</div>
<!-- [END] Links Container -->
