<!-- [BEGIN] Links Container -->
<div class='row'>
  <div class='col-md-3' style='padding-top: 45px;'> <!-- Favorites -->
    <h5> FAVORITE SITES </h5>
    <hr>
    <a href='http://github.com'><img src='assets/img/githubPage.png' style='border: 1px solid black; margin-bottom: 5px; '></a>
    <a href='http://fontawesome.io'><img src='assets/img/fontawesomePage.png' style='border: 1px solid black; margin-bottom: 5px;'></a>
    <a href='http://bootswatch.com'><img src='assets/img/bootswatchPage.png' style='border: 1px solid black; margin-bottom: 5px'></a>
    <a href='http://all-free-download.com/'><img src='assets/img/freeVectors.png' style='border: 1px solid black; margin-bottom: 5px'></a>
    <a href='http://getbootstrap.com/components/'><img src='assets/img/bootstrap.png' style='border: 1px solid black; margin-bottom: 5px'></a>
    <a href='http://bower.io/'><img src='assets/img/bower.png' style='border: 1px solid black; margin-bottom: 5px'></a>
  </div>
  <div class='col-md-3' style='padding-top: 45px;'><!-- What's New -->
    <h5> WHAT'S NEW </h5>
    <hr>
    <p style='font-size: 12px;'>I am currently living in Bossier City, LA. In March 2015 I completed my Bacherlos Degree in Computer Science from <a href='http://latech.edu'>Louisiana Tech University</a>. I am currently working full time for <a href='https://www.csra.com'>CSRA</a> as an Application Developer in Bossier City, LA. I am also in the <a href='http://www.lsus.edu/academics/graduate-studies/graduate-programs/master-of-science-in-computer-systems-technology'>Master of Science in Computer Systems Technology</a> at <a href='http://www.lsus.edu/'>LSUS</a> with a concentration in Computer Science. Expected graduation is Summer 2018. </p>
  </div>
  <div class='col-md-3' style='padding-top: 45px;'><!-- In The News -->
    <h5> RANDOM FACTS </h5>
    <hr>
    <p style='font-size: 12px;'>{{getRandomFact()}}</p>
  </div>
  <div class='col-md-3' style='padding-top: 45px;'><!-- Contact me -->
    <h5> CONTACT ME </h5>
    <hr>
    <p style='font-size: 12px;'>Cell: 318-235-4551<br>
        Email: <a href='mailto:brocktubre@gmail.com?'>brocktubre@gmail.com</a></p>
    <hr>
    <div class='text-center'>
      <a href='http://linkedin.com/pub/brock-tubre/61/543/599/'><img src='assets/img/linkedin_black.png' style='max-width: 50px;'></a>
      <a href='http://youtube.com/cubencube'><img src='assets/img/youtube_black.png' style='max-width: 50px;'></a>
      <a href='http://github.com/brocktubre'><img src='assets/img/github_black.png' style='max-width: 50px;'></a>
      <a href='mailto:brocktubre@gmail.com?'><img src='assets/img/mail_black.png' style='max-height: 45px;'></a>
    </div>
  </div>
</div>
<!-- [END] Links Container -->